# Directories #
/build/
/bin/
target/

*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db

######################
# Eclipse
######################
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
